.inner:not(:first-child) {
  margin-top: 50px;
}

.sub_title {
  font-size: 30px;
  font-weight: bold;
}

.text {
  font-size: 14px;
  line-height: 2;
  margin-top: 20px;
  white-space: pre-wrap;
}

.link {
  color: #00C5B2;
  font-size: 14px;
  text-decoration: underline;
}

