.article {
  margin-top: 10px;
}

.article_list li:not(:first-child) {
  margin-top: 50px;
}

@media screen and (max-width: 768px) {
  .article_list li:not(:first-child) {
    margin-top: 20px;
  }
}
