.title {
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  text-align: center;
  top: 40%;
  width: 100%;
}

.title__main {
  font-size: 50px;
}

.strong {
  color: #00C5B2;
}

.title__sub {
  color: #aaa;
  font-size: 25px;
  margin-top: 15px;
}

.animation1 {
  animation: fadeIn 1s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.animation2 {
  animation: fadeIn 1s;
  animation-delay: .5s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.menu {
  bottom: 20%;
  left: 0;
  margin: auto;
  max-width: 850px;
  padding: 0 50px;
  position: absolute;
  right: 0;
  text-align: center;
}

.menu__list {
  animation: menuFadeIn .3s;
  animation-fill-mode: forwards;
  display: flex;
  justify-content: space-between;
  opacity: 0;
}

@keyframes menuFadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.link {
  display: block;
  padding: 10px 25px;
  text-decoration: none;
}

.link__text {
  color: #aaa;
  font-size: 22px;
  position: relative;
  transition: .3s;
  transition-property: color;
}

.link__text:after {
  background-color: #333;
  content: '';
  display: block;
  height: 1px;
  left: 0;
  position: absolute;
  top: 100%;
  transition: .3s;
  width: 0;
  will-change: color, width;
}

.link:hover .link__text {
  color: #333;
}

.link:hover .link__text:after {
  width: 100%;
}
