.cassette {
  display: flex;
}

.day {
  display: inline-block;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  text-align: center;
  transform: rotate(180deg);
  margin-right: 20px;
}

.image {
  height: 120px;
  object-fit: contain;
  margin-right: 20px;
  width: 200px;
}

.title {
  font-size: 18px;
  font-weight: bold;
}

.paragraph {
  font-size: 12px;
  line-height: 1.5;
  margin-top: 20px;
}
