.wrapper {
  position: fixed;
  right: 50px;
  top: 50px;
  z-index: 2;
}

.trigger {
  height: 33px;
  display: block;
  padding: 5px;
  width: 40px;
}

.hamburger,
.hamburger:before,
.hamburger:after {
  background-color: #333;
  content: '';
  display: block;
  height: 1px;
  position: absolute;
  top: 11px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 30px;
}

.hamburger {
  top: 16px;
}

.hamburger:before {
  top: -11px;
  transition: .3s;
}

.hamburger:after {
  top: 11px;
  transition: .3s;
}

.open .hamburger {
  transition: .3s;
  background-color: transparent;
}

.open .hamburger:before {
  top: 0;
  transform: rotate(-45deg);
}

.open .hamburger:after {
  top: 0;
  transform: rotate(45deg);
}

.close .hamburger {
  transition: .3s;
}

.menu {
  display: none;
  margin-top: 10px;
  position: absolute;
  top: 50px;
  right: 10px;
}

.close .menu {
  animation: fadeOut .3s;
  animation-fill-mode: forwards;
  display: block;
}

.open .menu {
  animation: fadeIn .3s;
  animation-fill-mode: forwards;
  display: block;
}

.menu li {
  margin-top: 20px;
  text-align: right;
}

.menu li:first-child {
  margin-top: 0;
}

.link {
  color: #aaa;
  font-size: 35px;
  position: relative;
  text-decoration: none;
  transition: .3s;
  transition-property: color;
}

.link:after {
  background-color: #333;
  content: '';
  display: block;
  height: 1px;
  left: 0;
  position: absolute;
  top: 100%;
  transition: .3s;
  width: 0;
  will-change: color, width;
}

@media screen and (min-width: 769px) {
  .link:hover {
    color: #333;
  }

  .link:hover:after {
    width: 100%;
  }
}

.overlay {
  background-color: rgba(255, 255, 255, 0.75);
  bottom: 0;
  display: none;
  left: 0;
  margin: auto;
  position: fixed;
  right: 0;
  top: 0;
  transition: .3s;
  z-index: 1;
}

.open.overlay {
  animation: fadeIn .3s;
  animation-fill-mode: forwards;
  display: block;
}

.close.overlay {
  animation: fadeOut .3s;
  animation-fill-mode: forwards;
  display: block;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    top: 20px;
    right: 20px;
  }

  .link {
    font-size: 30px;
  }
}