.inputText {
  position: relative;
  width: 400px;
}

.inputText:not(:first-child) {
  margin-top: 30px;
}

.inputText input {
  font-size: 18px;
  line-height: 2;
  padding: 10px;
  width: 100%;
}

.inputText input::placeholder {
  color: #aaa;
}

.inputText:after {
  background-color: #aaa;
  bottom: 0;
  content: '';
  display: block;
  height: 1px;
  left: 0;
  position: absolute;
  transition: .3s;
  width: 300px;
}

.inputText:focus-within:after {
  background-color: #00C5B2;
  height: 2px;
  transition: .3s;
  width: 400px;
}
