.wrapper {
  box-sizing: border-box;
  padding: 50px 50px 20px;
  position: relative;
  min-height: 100vh;
}

.inner {
  max-width: 1152px;
}

.copyright {
  bottom: 20px;
  color: #aaa;
  font-size: 14px;
  left: 7%;
  position: absolute;
}

.title {
  text-align: left;
  text-decoration: none;
  font-size: 18px;
}

.show {
  display: block;
}

.hidden {
  display: none;
}

.strong {
  color: #00C5B2;
}
